/* CSS rules to specify font families:
font-family: 'Odibee Sans', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */

html, body {
    font-size: 16px;
    background-color: #fff;
}

p {
    font-family: 'Roboto', Georgia, 'Times New Roman', serif;
    font-weight: 400;
    line-height: 1.4em;
}

h1 { 
    font-family: 'Permanent Marker',  Verdana, Arial, sans-serif;
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: .1em;
    margin: 0;
    text-align: center;
    font-size: 26px;
}

h2 {
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
    color:  #ffd500;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}

h3 {
    font-family: 'Roboto', Verdana, Arial, sans-serif;
    color:  #333;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}


.landing-link {
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.landing-link:hover {
    color: #ffd500;
}

landing-link:visited {
    color: #fff;
}
.nav {
    color:#111;
}

.quote {
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: 1.3em;
    color:#204F8C;
    background:  #ececec33;
    border-left: 10px solid #ffd500;;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.header {
    height: 30px;
    max-width: 800px;
    background-color: #6441a5;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: #6441a5;
    box-shadow: 5px 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}

#twitch-logo {
    max-width: 90px;
    float: right;
    margin-right: 15px;
}

.follow {
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: .75em;
    color:#FFF;
 
}

.top-bar {
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: 1.3em;
    color:#204F8C;
    background:  #222;
    border-left: 10px solid #ffd500;;
}


.body-container {
    background-color: #02B8D5;
    max-width: 800px;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: #00a1b9;
    box-shadow: 5px 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.middle-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4em;
    border: 50px;
    border-color: #2F2F2F;
    border-style: solid;
    border-radius: 25px;
}

.screen-container {
    background-color: #fff;
    max-height: 100%;
    max-width: 100%;
    padding: 25px;
}

.bottom-container {
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.logo-container {
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: #0290AF;
    width: 160px;
    text-align: center;
}

.button-container {
    margin-top: 60px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 150px;
}

#buttons {
    width: 75%;
}

#logo-text {
    text-align: center;
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: #0290AF; 
    padding: 5px;   
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.caption {
    text-align: center;
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    font-style: italic;
}

#nav-link-container {
    width: 100%;
    display: flex;
    margin-top: 0px;
}

.nav-link {
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    background-color: #1F2224;
    border-radius: 5%;
    border: 2px;
    border-style: solid;
    border-color: #1A1E1E;   
    text-align: center;
    padding: 10px;
}

.nav-link:hover {
    color: #ffd500; 
}

.footer {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    height: 25px;
    max-width: 800px;
    background-color: #1A1E1E;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: #111;
    box-shadow: 5px 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer-links {
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 3px;
}

.footer-links:hover {
    color: #ffd500;
}

/* ------------ Accordion Start -----------*/
  
ul.accordion {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
ul.accordion li input {
    display: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
  
ul.accordion label {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #222;
    display: block;
    font-weight: bold;
    line-height: 42px;
    padding: 0 8px;
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
}
      
ul.accordion label:hover {
    background-color: rgba( 255,255,255, .75);
    cursor: pointer;	
}
      
ul.accordion li input ~ div {
    background-color: rgba( 0, 0, 0, .05 );
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
      
ul.accordion li input ~ div p {
    font-size: .9em;
    margin: 16px 24px;	
}
      
ul.accordion li input:checked ~ div {
    max-height: none;
    opacity: 1;
    visibility: visible;	
}
         
ul.accordion li input:checked ~ div > ul {
    display: block;	
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ------------ Accordion End-----------*/