/* CSS rules to specify font families:
font-family: 'Odibee Sans', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */

html, body {
    font-size: 16px;
    background-color: #fff;
}

p {
    font-family: 'Roboto', Georgia, 'Times New Roman', serif;
    font-weight: 400;
    line-height: 1.4em;
}

h1 { 
    font-family: 'Permanent Marker',  Verdana, Arial, sans-serif;
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: .1em;
    margin: 0;
    text-align: center;
    font-size: 26px;
}

h2 {
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
    color:  #ffd500;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}


a {
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #204F8C;
}

a:hover {
    text-decoration: none;
 
}

a:visited {
    color: #ffd500;
}
.nav {
    color:#111;
}

.quote {
    font-family: 'Permanent Marker', Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: 1.3em;
    color:#204F8C;
    background:  #ececec33;
    border-left: 10px solid #ffd500;;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.body-container {
    background-color: #02B8D5;
    max-width: 800px;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: #00a1b9;
    box-shadow: 5px 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.header {
    width: 100%;
    min-height: 100px;
}

.social-container {
    width: 100%;
 }

 
#twitch-logo {
    max-width: 100px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
   
}

.middle-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: 50px;
    border-color: #2F2F2F;
    border-style: solid;
    border-radius: 25px;
}

.screen-container {
    background-color: #fff;
    max-height: 100%;
    max-width: 100%;
    padding: 25px;
}

.hobbies-container {
    margin-right: auto;
    margin-left: auto;
}

.bottom-container {
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.logo-container {
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: #0290AF;
    width: 160px;
    text-align: center;

}

.button-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;

  
}

.left-buttons {
    float: left;
    width: 50%;
    margin-left: 10%;
}

.right-buttons {
    float: right;
    width: 20%;
    display: flex;
    align-content: space-between;
    margin-right: 10%;
}

#a-button {
    background-color: #1A1E1E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px;
    border-style: solid;
    border-color: #1A1E1E;   
    text-align: center;
    font-size: 2em;
    color: #fff;
    
}

#b-button {
    background-color: #1A1E1E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px;
    border-style: solid;
    border-color: #1A1E1E;   
    text-align: center;
    font-size: 2em;
    color: #fff;
    
}

.footer {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin-top: 40%;
    margin-bottom: 50px;
}

.footer-links {
    padding: 10px;
    color: #ffd500;
    font-size: 1.5em;
}

#arrowkey {
    max-width: 40%;
}

#logo-text {
    text-align: center;
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: #0290AF; 
    padding: 5px;   
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.caption {
    text-align: center;
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    font-style: italic;
}
